<p id="notice"></p>
<h2>新規登録</h2>

  <%= form_with model: @customer,url: customer_registration_path, local: true do |f|%>
  <%= render "customer/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :name, "名前" %>
    <%= f.label :first_name, "（姓）"%>
    <%= f.text_field :first_name, autofocus: true %>
    <%= f.label :last_name, "（名）"%>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name, "フリガナ"%>
    <%= f.label :first_name_kana, "（セイ）" %>
    <%= f.text_field :first_name_kana, autofocus: true %>
    <%= f.label :last_name_kana, "（メイ）"%>
    <%= f.text_field :last_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :nickname, "ニックネーム"%>
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="label">
    <%= f.label :birthday, "誕生日"%>
    <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 1), default: Date.new(2000, 1, 1) %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード（6文字以上）" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<p>
  <%= link_to '新規登録', new_customer_session_path %>はこちらから
</p>
