<h1>曲紹介画面</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-lg-3 col-md-4 mb-12">
      <%= @reviwes.each do |reviwe| %>
      <table>
        <tr>
          <th><%= reviwe.name %></th>
          <td><%= reviwe.year %></td>
        </tr>
        <tr>
          <th><%= reviwe.heading %></th>
        </tr>
        <tr>
          <td class="reviwe-rate" data-score="<%= reviwe.rate %>"></td>
        </tr>
      </table>
      <% end %>
      <script>
        $('.reviwe-rate').raty({
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
          path: '/assets/'
        });
      </script>
    </div>
  </div>
  <p class="text-center">
    <%= paginate @reviwes %>
  </p>
</div>