<!DOCTYPE html>
<html>
  <head>
    <title>MusicGarden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <li class="nav-item">
           <%= link_to 'マイページ', class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to 'レビュー一覧', items_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to 'いいね一覧', cart_items_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト',  destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
          </li>
          <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to 'レビュー一覧', admin_items_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'About',class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to 'レビュー一覧',class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-outline-dark" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </body>

  <body>
    <%= yield %>
  </body>
</html>
